<page-header
  class="bg-blue-600"
  [title]="PageTitle"
  [addButtonToolTip]="buttonText"
  [showBack]="true"
  [showAdd]="false"
  (onBackClick)="BacktoList()"
></page-header>

<form class="form-field-full page-detail" [formGroup]="accountForm">
  <mat-card>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Account Name</mat-label>
          <input
            matInput
            formControlName="AccountName"
            type="text"
            placeholder="Account Name"
            maxlength="100"
            required
            (keyup)="onAccountNameKeyUp($event)"
          />
          <mat-error *ngIf="accountNameControlRequired"
            >Account name is required.</mat-error
          >
          <mat-error *ngIf="accountNameControlInvalid"
            >Account name is Invalid.</mat-error
          >
          <mat-error *ngIf="getAccountNameValidation()"
            >This account name is already exist.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Legal Name</mat-label>
          <input
            matInput
            formControlName="LegalName"
            type="text"
            placeholder="Legal Name"
            maxlength="100"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Account Group</mat-label>
          <mat-select
            formControlName="GroupID"
            (valueChange)="groupSelectionChange($event)"
            required
          >
            <mat-option
              *ngFor="let gdd of groupDropDown"
              [value]="gdd.group_Id"
            >
              {{ gdd.group_Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Balance Transfer to</mat-label>
          <mat-select formControlName="BalanceTransferToID" [disabled]="true">
            <mat-option
              *ngFor="let bttdd of balanceTransferToDropDown"
              [value]="bttdd.balanceTransferToID"
            >
              {{ bttdd.balanceTransferToName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Opening Balance</mat-label>
          <input
            matInput
            class="input-right-align"
            formControlName="OpeningBalance"
            type="number"
            placeholder="Opening Balance"
            maxlength="21"
            required
          />
          <span matPrefix>₹</span>
          <mat-error *ngIf="openingBalanceControlRequired"
            >Opening Balance is required.</mat-error
          >
          <mat-error *ngIf="openingBalanceControlInvalid"
            >Opening Balance is Invalid.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="10%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Balance Type</mat-label>
          <mat-select formControlName="OpeningBalanceType" required>
            <mat-option value="Cr">Credit</mat-option>
            <mat-option value="Dr">Debit</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="25%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Account Type</mat-label>
          <mat-select
            formControlName="AccountTypeID"
            (valueChange)="accountTypeIDSelectionChange($event)"
            required
          >
            <mat-option
              *ngFor="let atdd of accountTypeDropDown"
              [value]="atdd.accountTypeID"
            >
              {{ atdd.accountTypeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="25%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Book Type</mat-label>
          <mat-select
            formControlName="TransactionTypeID"
            [disabled]="disableBookType"
            [required]="!disableBookType"
            (valueChange)="transactionTypeIDSelectionChange($event)"
          >
            <mat-option
              *ngFor="let ttdd of transactionTypeDropDown"
              [value]="ttdd.transactionTypeID"
            >
              {{ ttdd.transactionTypeName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="transactionTypeIDControlRequired"
            >Book Type is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Sales Book Type</mat-label>
          <mat-select
            formControlName="SalesTypeID"
            [disabled]="disableSaleBookType"
            [required]="!disableSaleBookType"
          >
            <mat-option
              *ngFor="let stdd of salesTypeDropDown"
              [value]="stdd.salesTypeID"
            >
              {{ stdd.salesTypeName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="salesTypeIDControlRequired"
            >Sales Book Type is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Trade Type</mat-label>
          <mat-select
            formControlName="AccountTradeTypeID"
            [disabled]="disableTradeType"
            [required]="!disableTradeType"
          >
            <mat-option
              *ngFor="let attdd of accountTradeTypeDropDown"
              [value]="attdd.accountTradeTypeID"
            >
              {{ attdd.accountTradeTypeName }}
            </mat-option>
            <mat-error *ngIf="accountTradeTypeIDControlRequired"
              >Book Type is required.</mat-error
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="10%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Book Initial</mat-label>
          <input
            matInput
            formControlName="BookInit"
            type="text"
            placeholder="Book Initial"
            maxlength="5"
            [readonly]="disableBookInit"
            [required]="!disableBookInit"
          />
          <mat-error *ngIf="bookInitControlRequired"
            >Book Initial is required.</mat-error
          >
          <mat-error *ngIf="bookInitControlInvalid"
            >Book Initial is Invalid.</mat-error
          >
          <mat-error *ngIf="getBookInitValidation()"
            >This Book Initial is already exist.</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Default Book/Head</mat-label>
          <mat-select
            formControlName="HeadAccountID"
            [disabled]="disabledefaultBook"
            [required]="!disabledefaultBook"
          >
            <mat-option
              *ngFor="let sbdd of salesBookDropDown"
              [value]="sbdd.account_Id"
            >
              {{ sbdd.account_Name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="headAccountIDControlRequired"
            >Default Book/Head is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Area</mat-label>
          <mat-select
            formControlName="AreaID"
            [disabled]="disablearea"
            [required]="!disablearea"
          >
            <mat-option
              *ngFor="let sbdd of areaDropDown"
              [value]="sbdd.area_Id"
            >
              {{ sbdd.area_Name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="areaIDControlRequired">Area is required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="100%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Address</mat-label>
          <textarea
            matInput
            formControlName="Address"
            type="text"
            placeholder="Address"
            maxlength="500"
            rows="3"
            [readonly]="disableaddredd"
            [required]="!disableaddredd"
          ></textarea>
          <mat-error *ngIf="addressControlRequired"
            >Address is required.</mat-error
          >
          <mat-error *ngIf="addressControlInvalid"
            >Address is Invalid.</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>State</mat-label>
          <mat-select
            formControlName="StateID"
            [disabled]="disableaddredd"
            [required]="!disableaddredd"
          >
            <mat-option
              *ngFor="let sdd of stateDropDown"
              [value]="sdd.state_Id"
            >
              {{ sdd.state_Name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="stateIDControlRequired"
            >State is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="40%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>City Name</mat-label>
          <input
            matInput
            formControlName="CityName"
            type="text"
            placeholder="City Name"
            maxlength="50"
            [readonly]="disableaddredd"
            [required]="!disableaddredd"
          />
        </mat-form-field>
        <mat-error *ngIf="cityNameControlRequired"
          >City Name is required.</mat-error
        >
        <mat-error *ngIf="cityNameControlInvalid"
          >City Name is Invalid.</mat-error
        >
      </div>
      <div fxFlex="10%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Pin Code</mat-label>
          <input
            matInput
            formControlName="PinCode"
            type="text"
            placeholder="Pin Code"
            minlength="6"
            maxlength="6"
            [readonly]="disableaddredd"
            [required]="!disableaddredd"
          />
        </mat-form-field>
        <mat-error *ngIf="pinCodeControlRequired"
          >Pin Code is required.</mat-error
        >
        <mat-error *ngIf="pinCodeControlInvalid"
          >Pin Code is Invalid.</mat-error
        >
        <mat-error *ngIf="pinCodeControlMinLength"
          >Pin Code min length is 6.</mat-error
        >
        <mat-error *ngIf="pinCodeControlMaxLength"
          >Pin Code max length is 6.</mat-error
        >
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>GST No</mat-label>
          <input
            matInput
            formControlName="GSTNo"
            type="text"
            placeholder="GST No"
            maxlength="15"
            [readonly]="disableaddredd"
          />
        </mat-form-field>
        <mat-error *ngIf="GSTNoControlInvalid"
          >GST number is Invalid.</mat-error
        >
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>PAN</mat-label>
          <input
            matInput
            formControlName="PAN"
            type="text"
            placeholder="PAN"
            maxlength="10"
            [readonly]="disableaddredd"
          />
        </mat-form-field>
        <mat-error *ngIf="PANControlInvalid">PAN number is Invalid.</mat-error>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Contact Person</mat-label>
          <input
            matInput
            formControlName="ContactPerson"
            type="text"
            placeholder="Contact Person"
            maxlength="50"
            [readonly]="disableContact"
            [required]="!disableContact"
          />
          <mat-error *ngIf="contactPersonControlRequired"
            >Contact Person is required.</mat-error
          >
          <mat-error *ngIf="contactPersonControlInvalid"
            >Contact Person is Invalid.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Contact Number</mat-label>
          <input
            matInput
            formControlName="ContactNo"
            type="text"
            placeholder="Contact Number"
            maxlength="50"
            [readonly]="disableContact"
            [required]="!disableContact"
          />
          <mat-error *ngIf="contactNoControlRequired"
            >Contact number is required.</mat-error
          >
          <mat-error *ngIf="contactNoControlInvalid"
            >Contact number is Invalid.</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <br />
    <mat-card-actions align="end" class="area-mat-card-actions">
      <button mat-raised-button (click)="BacktoList()" color="accent">
        Cancel
      </button>
      <button
        *ngIf="isEditMode == false"
        [disabled]="!accountForm.valid"
        mat-raised-button
        color="primary"
        (click)="SaveUpdateAccount(accountForm)"
      >
        Save
      </button>
      <button
        *ngIf="isEditMode == true"
        [disabled]="!accountForm.valid"
        mat-raised-button
        color="primary"
        (click)="SaveUpdateAccount(accountForm)"
      >
        Update
      </button>
    </mat-card-actions>
  </mat-card>
</form>
