<page-header
  class="bg-blue-600"
  [title]="PageTitle"
  [addButtonToolTip]="buttonText"
  [showBack]="true"
  [showAdd]="false"
  (onBackClick)="BacktoList()"
></page-header>

<form class="form-field-full page-detail" [formGroup]="accountForm">
  <mat-card>
    <div
      class="matero-row"
      fxLayout.lt-sm="column"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutGap.lt-sm="5px"
    >
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Account Name</mat-label>
          <input
            matInput
            formControlName="AccountName"
            type="text"
            placeholder="Account Name"
            maxlength="100"
            required
            (keyup)="onAccountNameKeyUp($event)"
          />
          <mat-error *ngIf="accountNameControlControlRequired"
            >Account name is required.</mat-error
          >
          <mat-error *ngIf="accountNameControlControlInvalid"
            >Account name is Invalid.</mat-error
          >
          <mat-error *ngIf="getAccountNameValidation()"
            >This account name is already exist.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Legal Name</mat-label>
          <input
            matInput
            formControlName="LegalName"
            type="text"
            placeholder="Legal Name"
            maxlength="100"
          />
        </mat-form-field>
      </div>
    </div>
    <div
      class="matero-row"
      fxLayout.lt-sm="column"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutGap.lt-sm="5px"
    >
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Account Group</mat-label>
          <mat-select formControlName="GroupID">
            <mat-option
              *ngFor="let gdd of groupDropDown"
              [value]="gdd.group_Id"
            >
              {{ gdd.group_Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Balance Transfer to</mat-label>
          <mat-select formControlName="balanceTransferToID" [disabled]="true">
            <mat-option
              *ngFor="let bttdd of balanceTransferToDropDown"
              [value]="bttdd.balanceTransferToID"
            >
              {{ bttdd.balanceTransferToName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div
      class="matero-row"
      fxLayout.lt-sm="column"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutGap.lt-sm="5px"
    >
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Account Type</mat-label>
          <mat-select formControlName="AccountTypeID">
            <mat-option
              *ngFor="let atdd of accountTypeDropDown"
              [value]="atdd.accountTypeID"
            >
              {{ atdd.accountTypeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Book Type</mat-label>
          <mat-select formControlName="TransactionTypeID">
            <mat-option
              *ngFor="let ttdd of transactionTypeDropDown"
              [value]="ttdd.transactionTypeID"
            >
              {{ ttdd.transactionTypeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div
      class="matero-row"
      fxLayout.lt-sm="column"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutGap.lt-sm="5px"
    >
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Sales Book Type</mat-label>
          <mat-select formControlName="SalesTypeID">
            <mat-option
              *ngFor="let stdd of salesTypeDropDown"
              [value]="stdd.salesTypeID"
            >
              {{ stdd.salesTypeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Trade Type</mat-label>
          <mat-select formControlName="AccountTradeTypeID">
            <mat-option
              *ngFor="let attdd of accountTradeTypeDropDown"
              [value]="attdd.accountTradeTypeID"
            >
              {{ attdd.accountTradeTypeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br />
    <mat-card-actions align="end" class="area-mat-card-actions">
      <button mat-raised-button (click)="BacktoList()" color="accent">
        Cancel
      </button>
      <button
        *ngIf="isEditMode == false"
        [disabled]="!accountForm.valid"
        mat-raised-button
        color="primary"
        (click)="SaveUpdateAccount(accountForm)"
      >
        Save
      </button>
      <button
        *ngIf="isEditMode == true"
        [disabled]="!accountForm.valid"
        mat-raised-button
        color="primary"
        (click)="SaveUpdateAccount(accountForm)"
      >
        Update
      </button>
    </mat-card-actions>
  </mat-card>
</form>
