::ng-deep .mat-dialog-container {
  padding: 0px;
  min-height: fit-content;
  max-height: fit-content;
}

.dialog-title {
  margin: 0;
  line-height: 2.5rem;
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 0 1.25rem;
  font-size: 1.125rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.dialog-title-info {
  background: #10cbe4;
  color: black;
}

.dialog-content {
  display: block;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

.dialog-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  min-height: 52px;
  padding: 8px 0;
  margin: 0px 10px 0px 0px;
}

.mat-raised-button {
  margin-left: 5px !important;
}

.rowclass {
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-top: 10px !important;
}

.columnclass {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.mtx-grid-selection {
  min-height: 200px !important;
  max-height: 200px !important;
}
::ng-deep {
  .mtx-grid-selection .mat-table-container {
    overflow: unset !important;
  }
}
