<h1 class="dialog-title dialog-title-info">
  {{ Type == "New" ? "Add" : "Update" }} GST Tax Details
</h1>
<div class="dialog-content">
  <form class="form-field-full" [formGroup]="gstForm">
    <div class="matero-row rowclass" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="70%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>GST Tax</mat-label>
          <mat-select
            formControlName="GSTTaxID"
            required
            [disabled]="IsDisableControls"
            (valueChange)="GSTTaxIDSelectionChange($event)"
          >
            <mat-option *ngFor="let tdd of taxDropDown" [value]="tdd.tax_Id">
              {{ tdd.tax_Name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="GSTTaxIDControlRequired"
            >GST Tax is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="30%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <input
            matInput
            [matDatepicker]="ApplicableDatePicker"
            placeholder="Applicable Date"
            formControlName="ApplicableDate"
            [min]="ApplicableMinDate"
            [max]="ApplicableMaxDate"
            [readonly]="IsDisableControls"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="ApplicableDatePicker"
            [tabIndex]="-1"
            [disabled]="IsDisableControls"
            ><mat-icon matDatepickerToggleIcon
              >keyboard_arrow_down</mat-icon
            ></mat-datepicker-toggle
          >
          <mat-datepicker #ApplicableDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row rowclass" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="20%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Purchase Rate</mat-label>
          <input
            matInput
            class="input-right-align"
            formControlName="PurchaseRate"
            type="text"
            placeholder="PurchaseRate"
            maxlength="9"
            [readonly]="IsDisableControls"
            (blur)="onBlurPurchaseRate()"
            (focus)="onFocusPurchaseRate()"
            (change)="CalculateRates()"
            required
          />
          <mat-error *ngIf="PurchaseRateControlRequired"
            >Purchase Rate is required.</mat-error
          >
          <mat-error *ngIf="PurchaseRateControlInvalid"
            >Purchase Rate is Invalid.</mat-error
          >
          <mat-error *ngIf="PurchaseRateControlMin"
            >Minimum value of Purchase Rate is 0.01</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Purchase Rate With Tax</mat-label>
          <input
            matInput
            class="input-right-align"
            formControlName="PurchaseRateWT"
            type="text"
            placeholder="PurchaseRateWT"
            maxlength="9"
            readonly
          />
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Sales Rate</mat-label>
          <input
            matInput
            class="input-right-align"
            formControlName="SalesRate"
            type="text"
            placeholder="SalesRate"
            maxlength="9"
            required
            [readonly]="IsDisableControls"
            (blur)="onBlurSalesRate()"
            (focus)="onFocusSalesRate()"
            (change)="CalculateRates()"
          />
          <mat-error *ngIf="SalesRateControlRequired"
            >Sales Rate is required.</mat-error
          >
          <mat-error *ngIf="SalesRateControlInvalid"
            >Sales Rate is Invalid.</mat-error
          >
          <mat-error *ngIf="SalesRateControlMin"
            >Minimum value of Sales Rate Rate is 0.01</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Sales Rate With Tax</mat-label>
          <input
            matInput
            class="input-right-align"
            formControlName="SalesRateWT"
            type="text"
            placeholder="SalesRateWT"
            maxlength="9"
            readonly
          />
        </mat-form-field>
      </div>
      <div fxFlex="20%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Margin</mat-label>
          <input
            matInput
            class="input-right-align"
            formControlName="Margin"
            type="text"
            placeholder="Margin"
            maxlength="9"
            required
            readonly
          />
          <mat-error *ngIf="MarginControlRequired"
            >Margin is required.</mat-error
          >
          <mat-error *ngIf="MarginControlInvalid">Margin is Invalid.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="dialog-actions">
      <ng-container>
        <button
          *ngIf="!IsDisableControls"
          mat-raised-button
          cdkFocusInitial
          (click)="onClickOk()"
          color="primary"
          [disabled]="!gstForm.valid"
        >
          {{ Type == "New" ? "Save" : "Update" }}
        </button>
        <button
          mat-raised-button
          mat-dialog-close="Cancel"
          color="warn"
          (click)="onClickClose()"
        >
          Close
        </button>
      </ng-container>
    </div>
  </form>
</div>
