<div class="matero-sidebar-header" *ngIf="showHeader">
  <app-branding></app-branding>
  <span fxFlex></span>
</div>

<div class="matero-sidebar-main scrollbar-none">
  <ng-container>
    <ul class="matero-quickmenu level-0">
      <li class="matero-quickmenu-item" *ngFor="let menuItem of QuickmenuList">
        <a class="matero-quickmenu-link" [routerLink]="menuItem.quickmenuroute">
          <ng-container
            [ngTemplateOutlet]="linkTypeTpl"
            [ngTemplateOutletContext]="{ item: menuItem, level: 0 }"
          >
          </ng-container>
        </a>
      </li>
    </ul>
  </ng-container>
</div>

<ng-template #linkTypeTpl let-item="item" let-level="level">
  <i class="quickMenu" [class]="item.icon"></i>
  <span class="menu-name">{{ item.name }}</span>
</ng-template>
