<div class="filter-main">
  <ul class="filter-ul">
    <li class="filter-li">
      <!--  -->
      <a href="javascript:void(0)" (click)="onRefresh()"
        ><i class="material-icons material-icons-li">refresh</i></a
      >
    </li>
    <li>
      <button
        mat-stroked-button
        color="accent"
        class="btn btn-sm filter-button"
        [matMenuTriggerFor]="status"
        [ngClass]="{
          'bg-green-100': SelectedFilter == 'Active',
          'bg-red-100': SelectedFilter == 'In Active'
        }"
      >
        {{ SelectedFilter ? SelectedFilter : "Status" }}
      </button>
      <mat-menu #status="matMenu">
        <button mat-menu-item (click)="onActiveSelectFilter('active')">
          Active
        </button>
        <button mat-menu-item (click)="onActiveSelectFilter('inactive')">
          In Active
        </button>
        <button mat-menu-item (click)="onActiveSelectFilter('All')">All</button>
      </mat-menu>
    </li>
  </ul>
  <div class="search-filter">
    <mat-form-field
      appearance="legacy"
      color="primary"
      class="search-filter__input"
    >
      <input
        matInput
        type="text"
        placeholder="Search"
        value="{{ latestSearchText }}"
        (keyup)="onUserKeyUp($event)"
      />
    </mat-form-field>
  </div>
</div>
