<form class="form-field-full" [formGroup]="cndnForm">
  <h1 class="dialog-title dialog-title-info">
    {{ DialogTitle }}
  </h1>
  <div class="dialog-content">
    <div class="matero-row rowclass" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="100%" fxFlex.lt-sm="100" class="matero-col columnclass">
        <div class="table-container">
          <table
            id="mat-table-learn-mgmt"
            mat-table
            [dataSource]="CnDnSettlementData"
            formArrayName="CnDnDetails"
          >
            <ng-container
              *ngFor="let column of CnDnColumns; let i = index"
              [matColumnDef]="column.columnName"
            >
              <div>
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [ngStyle]="{ width: column.columnWidth }"
                  [ngClass]="[
                    column.columnType == 'amount' ? 'text-right' : '',
                    column.columnType == 'inputAmount' ? 'text-right' : ''
                  ]"
                >
                  {{ column.displayColumn }}
                </th>
              </div>

              <td
                mat-cell
                *matCellDef="let bills; let rowIndex = index"
                [ngClass]="{ 'text-right': column.columnType == 'amount' }"
                [formGroupName]="rowIndex"
              >
                <ng-container *ngIf="column.columnType !== 'inputAmount'">
                  <span *ngIf="column.columnType === 'string'">
                    {{ bills[column.columnName] }}
                  </span>
                  <span *ngIf="column.columnType === 'date'">
                    {{ bills[column.columnName] | date : "dd/MM/yyyy" }}
                  </span>
                  <span *ngIf="column.columnType === 'amount'">
                    {{ bills[column.columnName] | number : "0.2-2" : "en-IN" }}
                  </span>
                </ng-container>
                <ng-container *ngIf="column.columnType === 'inputAmount'">
                  <mat-form-field
                    appearance="legacy"
                    color="primary"
                    class="p-l-24"
                  >
                    <input
                      matInput
                      type="text"
                      maxlength="15"
                      formControlName="ReceiveAmount"
                      class="input-right-align"
                      (keyup)="CalculateTotals()"
                    />
                    <mat-error *ngIf="ReceiveAmountMaxError(rowIndex)">
                      Amount is more then pending amount.
                    </mat-error>
                  </mat-form-field>
                </ng-container>
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="getDisplayedColumns(); sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let bills; columns: getDisplayedColumns()"
            ></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="matero-row rowclass" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="17%" fxFlex.lt-sm="100" class="matero-col"></div>
      <div
        fxFlex="30%"
        fxFlex.lt-sm="100"
        class="matero-col text-right"
        style="margin-top: 20px"
      >
        <span>Current Invoice Amount : </span>
      </div>
      <div
        fxFlex="20%"
        fxFlex.lt-sm="100"
        class="matero-col text-right"
        style="margin-top: 20px"
      >
        <span>{{ TotalNetAmount | number : "0.2-2" : "en-IN" }}</span>
      </div>
      <div fxFlex="5%" fxFlex.lt-sm="100" class="matero-col"></div>
      <div fxFlex="25%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Amount</mat-label>
          <input
            matInput
            placeholder="Amount"
            type="text"
            formControlName="Amount"
            maxlength="15"
            class="input-right-align"
            readonly
          />
          <mat-error *ngIf="AmountControlMaxError()">
            Amount is more then invoice amount.
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="3%" fxFlex.lt-sm="100" class="matero-col"></div>
    </div>
  </div>
  <div class="dialog-actions">
    <ng-container>
      <button
        mat-raised-button
        mat-dialog-close="Ok"
        [disabled]="CheckValidation()"
        cdkFocusInitial
        (click)="onClickOk()"
        color="primary"
      >
        Ok
      </button>
      <button
        mat-raised-button
        mat-dialog-close="Cancel"
        color="warn"
        (click)="onClickCancel()"
      >
        Cancel
      </button>
    </ng-container>
  </div>
</form>
