<page-header
  class="bg-blue-600"
  [title]="PageTitle"
  [addButtonToolTip]="buttonText"
  [showBack]="true"
  [showAdd]="false"
  (onBackClick)="BacktoList()"
></page-header>
<form class="form-field-full page-detail" [formGroup]="userForm">
  <mat-card>
    <h2><u>Basic Detail</u></h2>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="firstName"
            type="text"
            placeholder="First Name"
            maxlength="50"
            required
          />
          <mat-error *ngIf="firstNameControlRequired"
            >First Name is required.</mat-error
          >
          <mat-error *ngIf="firstNameControlInvalid"
            >First Name is Invalid.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            formControlName="lastName"
            type="text"
            placeholder="Last Name"
            maxlength="50"
            required
          />
          <mat-error *ngIf="lastNameControlRequired"
            >Last Name is required.</mat-error
          >
          <mat-error *ngIf="lastNameControlInvalid"
            >Last Name is Invalid.</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>User Name</mat-label>
          <input
            matInput
            formControlName="userName"
            type="email"
            placeholder="User Name"
            maxlength="100"
            required
            (keyup)="onUserNameKeyUp($event)"
          />
          <mat-error *ngIf="userNameControlRequired"
            >User Name is required.</mat-error
          >
          <mat-error *ngIf="userNameControlInvalid"
            >User name is Invalid.</mat-error
          >
          <mat-error *ngIf="getUserNameValidation()"
            >This user name is already exist.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>eMail Address</mat-label>
          <input
            matInput
            formControlName="email"
            type="text"
            placeholder="eMail Address"
            maxlength="100"
            required
            [readonly]="isReadonly"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div
        fxFlex="50%"
        fxFlex.lt-sm="100"
        class="matero-col"
        *ngIf="isEditMode == false"
      >
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            placeholder="Password"
            maxlength="100"
            required
          />
          <mat-error *ngIf="passwordControlRequired"
            >Password is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Role</mat-label>
          <mat-select
            formControlName="roleID"
            required
            [disabled]="editUser ? editUser!.isCompanyOwner : false"
          >
            <mat-option
              *ngFor="let role of RoleDownDown"
              [value]="role.role_Id"
              [disabled]="role.isAdminRole === true"
            >
              {{ role.role_Name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="roleControlRequired">Role is required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row m-t-12" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col">
        <mat-slide-toggle
          color="primary"
          class="slide_toggle_style"
          formControlName="isActive"
          [disabled]="true"
        >
          Active User
        </mat-slide-toggle>
      </div>
    </div>
    <h2><u>Contact Details</u></h2>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="100%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Address</mat-label>
          <textarea
            matInput
            formControlName="address"
            type="text"
            placeholder="Address"
            maxlength="500"
            rows="3"
          ></textarea>
          <mat-error *ngIf="addressControlInvalid"
            >Address is Invalid.</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>City</mat-label>
          <input
            matInput
            formControlName="city"
            type="text"
            placeholder="City"
            maxlength="50"
          />
          <mat-error *ngIf="cityControlInvalid">City is Invalid.</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>State</mat-label>
          <mat-select formControlName="stateID">
            <mat-option
              *ngFor="let role of StateDropDown"
              [value]="role.state_Id"
            >
              {{ role.state_Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Pincode</mat-label>
          <input
            matInput
            formControlName="pinCode"
            type="text"
            placeholder="Pincode"
            maxlength="6"
          />
          <mat-error *ngIf="pinCodeControlInvalid"
            >Pincode is Invalid.</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="matero-row" fxLayout.lt-sm="column" fxLayout="row">
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Mobile (Work)</mat-label>
          <input
            matInput
            formControlName="mobile_Work"
            type="text"
            placeholder="Mobile (Work)"
            maxlength="15"
          />
          <mat-error *ngIf="mobile_WorkControlRequired"
            >Mobile (Work) is required.</mat-error
          >
          <mat-error *ngIf="mobile_WorkControlInvalid"
            >Mobile (Work) is Invalid.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Mobile (Personal)</mat-label>
          <input
            matInput
            formControlName="mobile_Personal"
            type="text"
            placeholder="Mobile (Personal)"
            maxlength="15"
          />
          <mat-error *ngIf="mobile_PersonalControlInvalid"
            >Mobile (Personal) is Invalid.</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <mat-card-actions align="end" class="user-mat-card-actions">
      <button
        type="button"
        mat-raised-button
        (click)="BacktoList()"
        color="accent"
      >
        Cancel
      </button>
      <button
        type="button"
        *ngIf="isEditMode == false"
        [disabled]="!userForm.valid"
        mat-raised-button
        color="primary"
        (click)="SaveUpdateRole(userForm)"
      >
        Save
      </button>
      <button
        type="button"
        *ngIf="isEditMode == true"
        [disabled]="!userForm.valid"
        mat-raised-button
        color="primary"
        (click)="SaveUpdateRole(userForm)"
      >
        Update
      </button>
    </mat-card-actions>
  </mat-card>
</form>
