.mat-dialog-container {
  padding: 0px !important;
  overflow: hidden;
}

.mtx-dialog-title {
  margin: 0;
  line-height: 2.5rem;
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  justify-content: space-between;
  background: #6a6a6a;
  padding: 0 1.25rem;
  font-size: 1.125rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: white;
  a {
    color: white;
    margin-top: 10px;
  }
}

.mtx-dialog-content {
  display: block;
  max-height: 65vh;
  min-height: 15vh;
  padding: 0 1.25rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  p {
    font-family: system-ui;
    font-size: large;
    font-weight: 500;
  }
}

.mtx-dialog-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  min-height: 52px;
  padding: 8px 0;
  margin: 0px 10px 0px 0px;
}

.mat-raised-button {
  margin-left: 5px !important;
}

.mat-stroked-button {
  margin-left: 5px !important;
}

.mat-flat-button {
  margin-left: 5px !important;
}
