<page-header
  class="bg-blue-600"
  [title]="PageTitle"
  [addButtonToolTip]="buttonText"
  [showBack]="true"
  [showAdd]="false"
  (onBackClick)="BacktoList()"
></page-header>
<form class="form-field-full page-detail" [formGroup]="groupForm">
  <mat-card>
    <div
      class="matero-row"
      fxLayout.lt-sm="column"
      fxLayout="row"
    >
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Group Name</mat-label>
          <input
            matInput
            formControlName="groupName"
            type="text"
            placeholder="Group Name"
            maxlength="50"
            required
            (keyup)="onGroupNameKeyUp($event)"
          />
          <mat-hint>Group name must be unique.</mat-hint>
          <mat-error *ngIf="groupNameControlRequired"
            >Group name is required.</mat-error
          >
          <mat-error *ngIf="groupNameControlInvalid"
            >Group name is Invalid.</mat-error
          >
          <mat-error *ngIf="getGroupNameValidation()"
            >This group name is already exist.</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <div
      class="matero-row"
      fxLayout.lt-sm="column"
      fxLayout="row"
    >
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Balance Transfer to</mat-label>
          <mat-select formControlName="balanceTransferToID">
            <mat-option
              *ngFor="let bttdd of balanceTransferToDropDown"
              [value]="bttdd.balanceTransferToID"
            >
              {{ bttdd.balanceTransferToName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div
      class="matero-row"
      fxLayout.lt-sm="column"
      fxLayout="row"
    >
      <div fxFlex="50%" fxFlex.lt-sm="100" class="matero-col">
        <mat-form-field appearance="legacy" color="primary">
          <mat-label>Schedule</mat-label>
          <mat-select formControlName="scheduleID">
            <mat-option
              *ngFor="let sdd of scheduleDropDown"
              [value]="sdd.scheduleID"
            >
              {{ sdd.scheduleName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div
      class="matero-row"
      fxLayout.lt-sm="column"
      fxLayout="row"
    >
      <div fxFlex="10%" fxFlex.lt-sm="100" class="matero-col m-12">
        <mat-slide-toggle
          color="primary"
          class="slide_toggle_style"
          formControlName="isActive"
          [disabled]="true"
        >
          Active
        </mat-slide-toggle>
      </div>
    </div>
    <br />
    <mat-card-actions align="end" class="area-mat-card-actions">
      <button mat-raised-button (click)="BacktoList()" color="accent">
        Cancel
      </button>
      <button
        *ngIf="isEditMode == false"
        [disabled]="!groupForm.valid"
        mat-raised-button
        color="primary"
        (click)="SaveUpdateGroup(groupForm)"
      >
        Save
      </button>
      <button
        *ngIf="isEditMode == true"
        [disabled]="!groupForm.valid"
        mat-raised-button
        color="primary"
        (click)="SaveUpdateGroup(groupForm)"
      >
        Update
      </button>
    </mat-card-actions>
  </mat-card>
</form>
