<h1 class="pdf-dialog-title">
  PDF Preview
  <a href="javascript:void(0)" class="close-btn" mat-dialog-close (click)="onCancel()"
    ><i class="material-icons">close</i></a
  >
</h1>
<div class="pdf-dialog-content">
  <iframe
    [src]="data"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    tool
  ></iframe>
</div>

<!-- <h2 class="pdf-dialog-title">
  PDF Preview
  <a href="javascript:void(0)" class="close-btn" mat-dialog-close
    ><i class="material-icons">close</i></a
  >
</h2>
<div class="pdf-dialog-content">
  
</div> -->
