/* You can add global styles to this file, and also import other style files */
@use "app/theme/style";
@use "styles/themes";
@use "styles/custom";
@use "styles/grid";
@use "styles/helpers";
@use "styles/plugins";

.cursor-loader {
  cursor: wait;
  * {
    cursor: wait !important;
  }
}

.mat-table {
  width: 100%;
}

.page-detail {
  margin-top: -50px;
}


.input-right-align {
  text-align: right !important;
}

input.input-right-align::-webkit-outer-spin-button,
input.input-right-align::-webkit-inner-spin-button {
  display: none;
}

input.input-right-align {
  -moz-appearance: textfield;
}
