::ng-deep mat-radio-button {
  margin: 1.25rem;
}

.mtx-grid-purchase {
  min-height: 400px !important;
  max-height: 400px !important;
}
::ng-deep {
  .mtx-grid-purchase .mat-table-container {
    overflow: unset !important;
  }
}
